body{
background-color:floralwhite;
background-size:contain;
}

video{
width=100%;
height=300px;
}


p{white-space:pre-wrap; word-wrap:break-word;width:80%;}
span{white-space:pre-wrap; word-wrap:break-word;width:80%;}

